name: toolchain

on:
  push:
    branches: [ master ]
    paths: ["toolchain/turris-base/**", "toolchain/turris-sdk/**"]
  pull_request:
    branches: [ master ]
    paths: ["toolchain/turris-base/**", "toolchain/turris-sdk/**"]
  schedule:
    - cron: "0 0 * * *"

jobs:
  turris-base:
    strategy:
      matrix:
        device: [omnia]
        tag: [stable, latest]
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout git repository"
        uses: actions/checkout@v2
        
      - name: "Build Toolchain base image"
        uses: aevea/action-kaniko@v0.3.2
        with:
          image: selwtf/build-turris-base
          tag: ${{ matrix.device }}-${{ matrix.tag }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          extra_args: "--context toolchain/turris-base --dockerfile dockerfile --build-arg DEVICE=${{ matrix.device }} --build-arg TAG=${{ matrix.tag }}"
  
  turris-sdk:
    needs: turris-base
    strategy:
      matrix:
        device: [omnia]
        tag: [stable, latest]
    runs-on: ubuntu-latest
    steps:
      - name: "Build Toolchain SDK"
        uses: aevea/action-kaniko@v0.3.2
        with:
          image: selwtf/build-turris-sdk
          tag: ${{ matrix.device }}-${{ matrix.tag }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          extra_args: "--context toolchain/turris-sdk --dockerfile dockerfile --build-arg DEVICE=${{ matrix.device }} --build-arg TAG=${{ matrix.tag }}"
          
      - name: "Adapt SDK for Azure Pipelines"
        uses: aevea/action-kaniko@v0.3.2
        with:
          image: selwtf/build-turris-sdk
          tag: azp-${{ matrix.device }}-${{ matrix.tag }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          extra_args: "--context toolchain/azure-pipelines --dockerfile dockerfile --build-arg IMG=selwtf/build-turris-sdk:${{ matrix.device }}-${{ matrix.tag }}"


  deploy-pkg-repo:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout git repository"
        uses: actions/checkout@v2
        
      - name: "Build Toolchain opkg repo management"
        uses: aevea/action-kaniko@v0.3.2
        with:
          image: selwtf/deploy-pkg-repo
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          extra_args: "--context toolchain/pkg-repo --dockerfile dockerfile"
